<div style="margin-top: 5%;">
  <form action="/named-cat" method="post">
    <label for="name"><b>Enter a name: </b></label>
    <input type="text" name="name">
    <input type="submit" value="Submit">
  </form>
</div>
